body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    text-align: center;
}

.new{
     margin: 200px auto;
  
}
.new h2 span{
    color: green;
}

.new input{
    padding: 10px;

}

.new button{
    padding: 10px 15px;
    border-radius: 0 50% 50% 0;
    background-color: lightcoral;
    transition: .3s;
}

.new button:hover{
    background-color: crimson;
    color: white;
}

.new #gap{
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.562);
}

#button-1{
    padding: 10px;
    border-radius: 8px;
    border: none;
    transition: .3s;

}

#button-1:hover{
    padding: 15px;
    background-color: lightskyblue;
    
}